@model Lutador
@{
    ViewData["Title"] = "Resultado";
}

<br />
<div class="container-fluid">
    <h2 style="color:snow; text-align:center">Resultado</h2>
    <br />
    <br />
    <div class="card" style="margin-bottom:30px; margin-left:45%;">
        <h2>Campeão</h2>
        <br />
        <h6>@Model.Nome</h6>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />



